@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fffbf3;
    display: flex;
    justify-content: center;
}

#box {
    background-color: #FFF8ED;
    box-shadow: 17.5px 17.5px #7D9D9C;
    width: 1200px;
    height: 700px;
    border-radius: 15px;
    margin: 50px 0px;
}

main {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
}

#image-section {
    width: 40%;
    height: 100%;
    background-color: #7D9D9C;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#login-section {
    width: 60%;
    height: 100%;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-family: inter;
}

.logo-box {
    width: 190px;
    height: 190px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 25px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
    background: #fffbf3 url(Images/bookly-logo.png) center/cover;
}

h2 {
    font-family: inter;
    font-size: 2em;
}


#login-button-1, #login-button-2 {
    width: 249px;
    height: 48px;
    color: #497073;
    border-radius: 5px;
    background-color: white;
    font-family: inter;
    border: none;
    font-size: 1.35em;
    font-weight: 500;
    box-shadow: 0px 2.5px 5px;
    margin-top: 190px;
}

#login-button-1:hover, #login-button-2 {
    cursor: pointer;
    border-radius: 7.5px;
    background-color: #f3f0eb;
    transition: 0.2s;
}

h1 {
    font-size: 2.4em;
    margin-bottom: 15px;
    margin-top: 50px;
}

#login-box {
    padding: 40px 30px;
    display: flex;
    flex-direction: column; 
    width: 450px;
    gap: 25px;

    margin-top: 50px;
}

#login-box label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#login-box input {
    background-color: #E4DCCF63;
    border: 1px solid #e4dccfc0;
    height: 40px;
    border-radius: 5px;
    padding: 0px 10px;
    outline: none;
}

#login-box input:focus {
    border: 1px solid #d6bf9a;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset;
}

#visualizar {
    width: 30px;
    height: 30px;
    background: url(Images/visualizar.png) center/cover;
    position: relative;
    top: -40%;
    left: 91%;
    transition: 0.15s;
}

#visualizar:hover {
    cursor: pointer;
}

a {
    color: #7D9D9C;
    text-decoration: none;
}

a:hover {
    color: #6c8b8a;
}

#mobile-login-button {
    display: none;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: #FFF8ED;
    }

    #box {
        width: 100%;
        height: 100%;
        margin: 0px;
        box-shadow: none;
        border-radius: none;
    }

    main {
        border-radius: 0px;
        box-shadow: none;
    }

    #image-section {
        display: none;
    }

    #login-section {
        width: 100%;
    }

    #visualizar {
        top: -40px;
    }

    #login-button-1, #login-button-2 {
        margin: 0px;
        margin-bottom: 35px;
    }

    #mobile-login-button {
        display: flex;
     }
}

@media screen and (max-width: 540px) {
     #login-section {
        padding: 0px;
     }

     #login-box {
        width: calc(100% - 60px);
     }
}